[Unit]
Description=Check for NVIDIA high-power idle state

[Service]
Type=oneshot
ExecStart=/usr/local/libexec/nvidia-idle-power-watchdog/nvidia-idle-watchdog.sh
